body {margin: 20px;}

h1 {text-align: center;}

#userbox {
	padding: 15px;
	padding-bottom: 5px;
	margin: auto;

	float: left;
	/*position: relative;
	left: 0; right: 70%;
	top: 0; bottom: 0;*/

	background: blue;
}

#userlist {
	display: block;  
	padding: 0;
	margin: 0 0 10px 0;

	list-style: none;
}

#userlist li {
	margin-top: 5px;
	padding: 3px;

	background: rgba(100,20,20,80);
	border: 2px solid black;
	border-radius: 4px;
}

form * {display: block;}

.photo {
	vertical-align: middle;
	width: 30px; 
	height: 30px; 
}

.email * {color: grey; font-style: italic;}

.delete {
	background: transparent; 
	border: none; 
	color: red; 
	font-size: 10px; 
	font-weight: bold;

	padding: 0;
	display: block;
	position: relative;
	right: 0;
	top: 0;
	float: right;
	clear: none;
}