body {margin: 20px;}

#userbox {
	float: left;
	position: relative;
	padding: 15px;
	padding-bottom: 5px;

	margin: auto;
	left: 0; bottom:70%;
	top: 0; bottom: 0;
	background: blue;
}

canvas {float: right;}

#userlist {
	display: block;  
	padding: 0;
	margin: 0 0 10px 0;

	list-style: none;
}

#userlist li {
	vertical-align: middle;
	margin-top: 5px;
	padding: 3px;

	background: rgba(100,20,20,80);
	border: 2px solid black;
	border-radius: 3px;
}

h1 {text-align: center;}

#registration * {display: block;}

.photo {
	width: 30px; 
	height: 30px; 
	background: transparent;
}

.name {vertical-align: middle;}

button {
	background: transparent; 
	border: none; 

	padding: 0;
	float: right;
	position: relative;
}
.delete {
	top: 0;

	color: red; 
	font-size: 10px; 
	font-weight: bold;
}
.edit {
	bottom: 0;
}
.edit img {
	color: grey; 
	width: 10px; 
	height: 10px;
}